/* Gobal Styles */ 
*{
margin: 0;
padding: 0;
}


body {
    background-color: lightgoldenrodyellow;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
} 

nav,
header,
section,
footer {
    background-color: mistyrose;
}

/* mobile styles */

#container {
    margin: 10px;
}

P {
    margin: 10px;
    padding: 10px;
}

h1,
h2,
h3 {
    text-align: center;
}

nav {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: darkorchid;
    margin: 10px 0;
    height: 40px ; 
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(42, 63, 63);
    border-bottom: 4px solid lightgoldenrodyellow;
}

header { 
    padding: 20px;
}

section {
    margin: 10px 0;
    padding: 10px;
}

multi_col {
    background-color: aqua;
}

.col {
    margin: 10px; 
}

#lower_area {
    background-color: aqua;
    padding: 10px;
}

.col {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 4px solid black;
}

.col img {
 width: 75%;   
}

footer {
    padding: 40px 0;
    text-align: center;
    margin-top: 10px;
}

/* tablet styles */

@media (min-width: 768px) {
  
nav {
    padding: 20px;
}

    nav li{
    display: inline-block;
} 

   nav li a {
    width: 150px;
    border-radius: 10px;
}

multi_col {
    display: flex;
}

.col {
    width: 50%;
    
}

.col_text {
    margin-top: 60px;
}
.col img {
    width: 40%;
}

}

/* desktop styles */

@media (min-width: 1024px) {
    nav li a {
        background-color: aliceblue;
    }

    na li a  hover {
        border-bottom: 4px solid maroon;
    }

#container {
  width: 75%;
  margin: 0 auto;  
}

#lower_area {
    display: flex;
}

.col img {
    width: 75%;
}

}
